<!DOCTYPE html>
<html>


  <div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">DashBoard</h1>
  </div>  
  <div id="chartColumn" style="margin-bottom: 35px; margin-top: 35px;"></div>
  <div style="display: flex; flex-wrap: wrap; flex-direction: row; justify-content: space-between; width: 100%;">
    <div id="chartBar" style="width: 45%;"></div>
    <div id="lineChart" style="width: 45%;"></div>
  </div>
  <script src="/javascripts/columnChart.js" months="<%= months %>" totalBills="<%= totalBills %>"
    totalBillsProduct="<%= totalBillsProduct %>" totalInterests="<%= totalInterests %>"
    totalPrdCount="<%= totalPrdCount %>"></script>
  <script src="/javascripts/barChart.js" products="<%= listProduct %>"></script>
  <script src="/javascripts/lineChart.js" months="<%= months %>" totalCustomers="<%= totalCustomers %>"></script>



