<div
  class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Admin</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
      <button class="btn btn-sm btn-outline-secondary">?</button>
    </div>
  </div>
</div>

<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/admin">Admin</a></li>
          <li class="breadcrumb-item active">Edit admin</li>
        </ol>
      </nav>
    </div>
    <div class="col text-end fw-lighter">
      <b>User</b>
    </div>
  </div>
</div>

<form action="/admin/edit" method="POST" enctype="multipart/form-data">
 
  
  <div class="row form-group mb-4">
    <div class="col">
      <label for="lastName">Full name</label>
      <div class="form-control"> <%= adm.full_name %> </div>
    </div>
    <div class="col">
      <label for="lastName">Permission</label>
      <select id="permission" name="permission" class="form-select">
        <option value="<%= adm.permission %>"><%= per %></option>
        <option value="2">Participant</option>
        <option value="1">Manager</option>  
      </select>
    </div>
    
  </div>

  <input
    type="text"
    hidden
    id="created_at"
    name="created_at"
    value="<%= adm.created_at %>"
  />
  <input type="text" hidden id="_id" name="_id" value="<%= adm._id %>" />

  <input type="text" hidden id="username" name="username" value="<%= adm.username %>" />
  <input type="text" hidden id="password" name="password" value="<%= adm.password %>" />
  <input type="text" hidden id="full_name" name="full_name" value="<%= adm.full_name %>" />
  <input type="text" hidden id="avatar" name="avatar" value="<%= adm.avatar %>" />


  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Edit Admin</button>
  </div>
</form>
