<%
  let productNameSort = "";
  let priceSort = "";
  let quantitySort = "";
  let statusSort = "";
  let createdAtSort = "";
  if (typeof(req) != 'undefined' && typeof(req.query.column) != 'undefined' && typeof(req.query.type) != 'undefined') {
    if (req.query.column == "id_client") {
      if (req.query.type && req.query.type == "desc") {
        productNameSort = "desc";
      } else {
        productNameSort = "asc";
      }
    }
    if (req.query.column == "arr_product") {
      if (req.query.type && req.query.type == "desc") {
        priceSort = "desc";
      } else {
        priceSort = "asc";
      }
    }
    if (req.query.column == "total") {
      if (req.query.type && req.query.type == "desc") {
        quantitySort = "desc";
      } else {
        quantitySort = "asc";
      }
    }
    if (req.query.column == "status") {
      if (req.query.type && req.query.type == "desc") {
        statusSort = "desc";
      } else {
        statusSort = "asc";
      }
    }
    if (req.query.column == "created_at") {
      if (req.query.type && req.query.type == "desc") {
        createdAtSort = "desc";
      } else {
        createdAtSort = "asc";
      }
    }
  }
%>

<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Bill</h1>
    <!-- <div class="btn-toolbar mb-2 mb-md 0">
      <div class="btn-group me-2">
        <a href="/add" class="btn btn-sm btn-outline-secondary">+ New </a>
      </div>
    </div> -->
  </div>
  
  <% messages.forEach(element => { %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= element %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% }) %>
  
  
  
  <div class="table-responsive">
  
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Customer's name  <a class="<%= (productNameSort == "desc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=id_client&type=desc"><i class="bi bi-arrow-down"></i></a> <a class="<%= (productNameSort == "asc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=id_client&type=asc"><i class="bi bi-arrow-up"></i></a></th>
          <th scope="col">Amount product <a class="<%= (priceSort == "desc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=arr_product&type=desc"><i class="bi bi-arrow-down"></i></a> <a class="<%= (priceSort == "asc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=arr_product&type=asc"><i class="bi bi-arrow-up"></i></a></th>
          <th scope="col">Total <a class="<%= (quantitySort == "desc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=total&type=desc"><i class="bi bi-arrow-down"></i></a> <a class="<%= (quantitySort == "asc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=total&type=asc"><i class="bi bi-arrow-up"></i></a></th>
          <th scope="col">Status <a class="<%= (statusSort == "desc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=status&type=desc"><i class="bi bi-arrow-down"></i></a> <a class="<%= (statusSort == "asc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=status&type=asc"><i class="bi bi-arrow-up"></i></a></th>
          <th scope="col">Create at <a class="<%= (createdAtSort == "desc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=created_at&type=desc"><i class="bi bi-arrow-down"></i></a> <a class="<%= (createdAtSort == "asc") ? "text-body-tertiary" : "" %>" href="/bill/sort/?_sort&column=created_at&type=asc"><i class="bi bi-arrow-up"></i></a></th>
          <th scope="col" class="text-end">Action</th>
        </tr>
      </thead>
  
      <tbody>
        <% for(let i = 0; i<clients.length; i++) { %>
          <tr class="align-middle">
            <td><%= arrCli[i].full_name %></td>
            <td><%= clients[i].arr_product.length %></td>
            <td><%= clients[i].total.toLocaleString() %> VND</td>
            <td><%= (clients[i]?.statusText) ? clients[i]?.statusText : "No data" %></td>
            <td><%= clients[i].created_at.toLocaleString('en') %></td>

            <td class="text-end">
  
              <div class="d-flex flex-row justify-content-end gap-2">
  
                <% if (clients[i]?.status != undefined) { %> 
                  <% if (clients[i]?.status == -1) { %>
                    <a href="/bill/confirmBill/<%= clients[i]._id %>" class="btn btn-success btn-small" style="border-radius: 5px; padding-right: 12px;">
                      <i class="bi">Confirm bill</i>
                    </a>
                  <% } else if (clients[i]?.status == 0) { %>
                    <a href="/bill/confirmDelivery/<%= clients[i]._id %>" class="btn btn-success btn-small" style="border-radius: 5px; padding-right: 12px;">
                      <i class="bi">Confirm delivery</i>
                    </a>
                <% }} %>

                <a href="/bill/view/<%= clients[i]._id %>" type="button" class="btn btn-primary btn-small">
                  <i class="bi bi-eye"></i>
                </a>
  
                <% if (clients[i]?.status != undefined && clients[i]?.status > -1) { %> 
                  <form action="/bill/edit/<%= clients[i]._id %>?_method=DELETE" method="POST" class="position-relative">
                    <button type="submit" class="btn btn-danger btn-small">
                      <i class="bi bi-trash"></i>
                    </button>
                  </form>
                <% } %>

              </div>
  
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  
  
  
  <% if (clients.length > 0) { %>
    <nav aria-label="Dashboard Pagination">
      <ul class="pagination justify-content-center mt-5">
  
        <% if (current == 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">First</a></li>
        <% } else { %>
          <li class="page-item"><a href="/bill/?page=1" class="page-link">First</a></li>
        <% } %>
  
        <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
        <% if(i !== 1) { %>
          <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
        <% } %>
  
        <% for(; i <= (Number(current) + 4) && i <= pages; i++ ) { %>
          <% if (i == current) { %>
            <li class="page-item disabled"><a href="#" class="page-link"><%= i %></a></li>
          <% } else { %>
            <li class="page-item"><a href="/bill/?page=<%= i %>" class="page-link"><%= i %></a></li>
          <% } %>
          <% if (i == Number(current) + 4 && i < pages) { %>
            <li class="page-item disabled"><a href="#" class="page-link">...</a></li>
          <% } %>
        <% } %>
  
        <% if (current == pages) { %>
          <li class="page-item disabled"><a href="#" class="page-link">Last</a></li>
        <% } else { %>
          <li class="page-item"><a href="/bill/?page=<%= pages %>" class="page-link">Last</a></li>
        <% } %>
  
      </ul>
    </nav>
  <% } %>
  
  